* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.4;
    padding: 0 16px;
}

h3 {
    font-size: 1rem;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.container.header {
    padding-top: 60px;
    text-align: center;
    border-bottom: 8px solid #000;
    margin-bottom: 20px;
}

.header-content {
    display: inline-block;
    text-align: right;
}

.header-content h1 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}

.header-content h2 {
    margin-bottom: 6px;
}

.container section {
    margin-bottom: 24px;
}

/* main section {
    border-bottom: 1px solid black;
} */

.container section > ul,
.container section > ol {
    margin-bottom: 24px;
}

.container section ul,
.container section ol {
    padding-left: 20px;
}

.underline {
    text-decoration: underline;
}

@media screen and (max-width: 932px) {
    body {
        font-size: 1.125rem /* 18px */
    }

    .container.header {
        padding-top: 30px;
    }

    .header-content h1 {
        font-size: 1.2rem;
    }

    .header-content h2 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    main section h2 {
        font-size: 1.4rem;
    }

    main sextion h3 {
        font-size: 1.2rem;
    }
}